    /* TABLETTE*/
@media screen and (min-width: 481px){

    /* LE HEADER */
    .nav{
        display: none;
    }

    /* LE MAIN */
    .titre br{
        display: none;
    }

    /* LES FILTRES */
    .filtre{
        width: 69%;
    }
    .filtre_desktop{
        margin: 1rem;
        display: none;
    }

    /* HEBERGEMENT MARSEILLE */
    .container{
        display: none;
    }
    .marseille_titre{
        display: flex;
        justify-content: center;
    }
    .marseille_texte{
        height: 9vh!important;
    }

    /* ACTIVITES MARSEILLE */
    #activites_marseille{
        display: flex;
        justify-content: center;
    }
    .titre{
        text-align: center;
    }
    #activites_marseille{
        display: block;
    }
    
    /* INFORMATION */
    .information{
        display: ruby!important;
    }
    .information_desktop{
        display: none;
    }
    .information_emoticone p{
        width: 100%!important;
    }
    .information_emoticone i{
        height: 2vh!important;
    }

    /* HOTELS POPULAIRES */
    .container_bis{
        display: none;
    }
    .emoticone_filtre_background{
        height: 4vh!important;
    }
    #activites_marseille{
        display: block;
    }

    /* FOOTER */
    footer{
        display: flex;
        justify-content: space-around;
    }

}

    /* ORDINATEUR*/
@media screen and (min-width: 1025px){

    /* HEADER */
    .logo{
        margin: 1rem;
    }

    /* MAIN */
    .titre{
        text-align: start;
        margin-left: 2rem!important;
    }
    .titre br{
        display: none;
    }

    /* RECHERCHER */
    .rechercher{
        margin-left: 1.2rem !important;
    }
    .rechercher button{
        margin-left: 1rem!important;
    }
    .div_hr{
        display: none!important;
    }
    .inscription{
        display: none;
    }
    .navigation{
        display: none!important;
    }
    .nav{
        border: 2px solid green;
        display: flex;
        width: 30%;
        display: flex!important;
        justify-content: space-around!important;
        align-items: center;
    }
    .emoticone_filtre_background{
        height: 5vh!important;
    }

    /* INFORMATION */
    .information_emoticone i{
        height: 3.5vh!important;
    }
    .information_desktop{
        display: flex!important;
        margin: 0.5rem;
    }

    /* FILTRES */
    .filtres{
        display: none;
    }
    .filtre_desktop{
        display: flex!important;
        margin-left: 2rem!important;
    }
    .filtre_d{
        border: 1px solid lightgray;
        width: 69%;
        height: 2.5rem;
        margin: 0.5rem;
        border-radius: 1rem;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .filtre_desktop button{
        border: 1px solid lightgray;
        height: 2.5rem;
        margin: 0.5rem;
        border-radius: 1rem;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .filtre_desktop h3{
        margin-right: 1rem;
    }

    /* INFORMATION */
    .information_desktop{
        align-items: baseline;
        margin-left: 2rem!important;
    }

    /* SECTION HOTEL MARSEILLE + LES PLUS POPULAIRES */
    .grid1{
        display: flex;
        justify-content: space-around;
    }
    .container{
        border-radius: 1rem;
        padding: 2rem;
        /* height: 80%; */
        border: 2px solid firebrick;
        display: grid!important;
        grid-template-columns: 260px 260px 260px;
        grid-template-rows: 13px 230px; 
        column-gap: 30px;
        row-gap: 15px;
        align-content: start;
        background-color: #F2F2F2;
    }
    .populaires_emoticone{
          align-items: start!important;
          margin-top: 2rem;
    }
    .populaires_emoticone h2{
        margin-bottom: 0;
        margin-top: 0;
    }
    .marseille_titre{
        justify-content: start;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .marseille_titre h2{
          margin-top: 0!important;
    }
    .hotel_marseille_desktop{
          border: 2px solid khaki;
    }
    .container_bis{
        border-radius: 1rem;
        border: 2px solid fuchsia;
        display: grid!important;
        grid-template-columns: 400px;
        grid-template-rows: 160px 160px 160px; 
        background-color: #F2F2F2;
    }
    .marseille_hotel{
          width: 100%!important;
          height: 22vh!important;
    }
    .marseille_image{
          height: 13vh!important;
    }
    .marseille_image img{
        height: 12vh!important;
    }
    .marseille_texte{
          height: 0!important;
          margin-left: .5rem!important;
          margin-top: .5rem!important;
    }
    .marseille_texte p{
          margin: 0!important;
    }
    .hotel{
          width: 80%!important;
          height: 17vh!important;
    }
    .hotel_image{
          width: 50%!important;
          height: 16vh!important;
    }
    .hotel_image img{
        width: 100%;
        height: 15vh!important;
        border-radius: 1rem 0rem 0rem 1rem;
    }
    .hotel_texte{
        height: 15vh;
    }
    .hotel_texte p{
        margin: 0;
        margin-bottom: 1rem;
    }
    .populaires{
        display: none;
    }
    #marseille{
        display: none;
    }
    #activites_marseille{
        display: none;
    }
    .activites_marseille_desktop{
        display: grid!important;
    }
    .activites_desktop{
        border: 2px solid indigo;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        grid-template-rows: auto;
        grid-auto-flow: column;
        justify-content: center;
    }
    .activites_marseille_titre h2{
        margin: 1rem;
        margin-left: 2rem;
    }
    .activites_marseille_d{
        border: 2px solid peru;
        display: flex;
        justify-content: space-around;
    }

    /* ACTIVITES MARSEILLE */
    .un{
        border: 2px solid fuchsia;
        width: 18%;
    }
    .deux{
        border: 2px solid lightgreen;
        width: 18%;
    }
    .activites_marseille_image_texte_grand{
        height: 50vh!important;
        width: 18%!important;
    }
    .activites_marseille_image_texte_grand{
        border: 2px solid purple;
        margin: 1.5rem;
        background-color: white;
        border-radius: 1rem;
        height: 27vh;
        width: 87%;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        box-shadow: 5px 3px 25px lightgray;
    }
    .activites_marseille_image_texte_moyen{
        height: 23.5vh!important;
        width: 100%!important;
    }
    .activites_marseille_image_texte_moyen{
        margin-top: 1.5rem;
        border: 2px solid purple;
        background-color: white;
        border-radius: 1rem;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 3px 25px lightgray;
    }
    .activites_marseille_image_texte_petit{
        height: 20vh!important;
        width: 100%!important;
    }
    .activites_marseille_image_texte_petit{
        border: 2px solid purple;
        margin: 1.5rem;
        background-color: white;
        border-radius: 1rem;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 3px 25px lightgray;
    }
    .activites_image_g{
        border: 2px solid peru;
        border-radius: 1rem 1rem 0rem 0rem;
        width: 100%;
        height: 42vh;
        padding: .2rem;
    }
    .activites_image_g img{
        height: 100%;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
        object-fit: cover;
    }
    .activites_image_petite img{
        width: 100%;
        height: 13vh;
        border-radius: 1rem 1rem 0rem 0rem;
        padding: .2rem;
    }
    .activites_texte{
        margin-top: 0!important;
        margin-left: 0!important;
        padding-left: 1rem;
    }
    .activites_texte h3{
        margin-top: .2rem;
    }

}