/* SMARTPHONE */
/* SHIFT + ALT + A = COMMENTAIRE */

@font-face{
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf)
}

/* LE RESET */
*{
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    margin: 0;
    font-family: "Raleway", serif;
    z-index: 1;
    font-size: 16px;
}

/* ICI LE HEADER */
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 1rem;
}
.inscription{
    padding: 1rem;
}
.inscription p{
    color: #0065FC;
}
.nav{
    display: none;
}


/* ICI LE MAIN */
.navigation{
    display: flex;
    text-align: center;
}
.hebergements{
    width: 50%;
    color: #0065FC;
}
.activites{
    width: 50%;
    color: #0065FC;
}
.div_hr{
    display: flex;
}
hr{
    width: 50%;
}
.premier{
    border: 1.5px solid #0065FC;
    background-color: #0065FC;
}
.second{
    border: 1.5px solid #F2F2F2;
    background-color: #F2F2F2;
}
.titre{
    margin: 1rem;
}

/* ICI SECTION RECHERCHE */
.bouton{
    display: flex;
    justify-content: center;
}
.rechercher button{
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.rechercher{
    margin-top: 2rem;
}
.rechercher input{
    border: none;
    font-size: 16px;
}
.emoticone_rechercher{
    background-color:  #F2F2F2;
    width: 2.5rem;
    height: 6vh;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoticone_rechercher2{
    color: white;
    background-color: #0065FC;
    width: 2.5rem;
    height: 6vh;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoticone_rechercher2_d{
    display: none!important;
}

/* ICI SECTION FILTRES */
.contient_emoticone{
    background-color: #DEEBFF;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    align-content: end;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .contient_emoticone i{
        color: #0065FC;
    }
.filtres1{
    display: flex;
}
.filtres{
    margin: .5rem;
}
.filtres h3{
    margin-top: 2rem;
    margin-left: .5rem;
}
.filtre1{
    border: 1px solid lightgray;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-right: .2rem;
    border-radius: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
}
.filtre{
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
}
.filtre_desktop{
    margin: 1rem;
    display: none;
}
.filtre:hover{
    opacity: 0.5;
}
.emoticone_filtre{
    display: flex;
    align-items: center;
}
.emoticone_filtre_background{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_filtre{
    margin: 1rem;
    font-weight: bold;
    font-size: 16px;
}

/* SECTION INFORMATION */
.information{
    display: flex;
    margin: 0.5rem;
}
.information_desktop{
    display: none;
}
.information_desktop{
    display: none;
}
.information_emoticone{
    text-align: center;
}
.information_emoticone i{
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    color: #0065FC;
    width: 1rem;
    border-radius: 1rem;
}
.information p{
    width: 81%;
}
.container{
    display: none;
}

/* ICI SECTION HOTELS POPULAIRES */
.grid{
    display: none;
}
.populaires{
    background-color: #F2F2F2;
    padding: 1rem;
}
.populaires_emoticone{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.populaires_emoticone i{
    font-size: 1.5rem;
}
.hotel{
    display: flex;
    margin: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    /* width: 87%; */
    align-items: center;
    box-shadow: 5px 3px 25px lightgray;
    margin-left: auto;
    margin-right: auto;
}
.populaires img{
    width: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}
.hotel_image{
    border-radius: 1rem 0rem 0rem 1rem;
    width: 45%;
    height: 23vh;
    padding: .2rem;
}
.hotel_image img{
    height: 100%;
}
.hotel_texte{
    padding: 0.5rem;
    width: 50%;
    font-size: 14px;
    color: black;
}
.hotel_texte h3{
    margin: 0rem;
}
span i{
    color: #0065FC
}
.span_1 i:last-child{
    color: #F2F2F2
}
.span_2 i{
    color: #F2F2F2
}

/* ICI SECTION HOTELS MARSEILLE */
.marseille_titre h2{
    margin: 1rem;
}
.marseille_hotel{
    margin: 1rem!important;
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 3px 25px lightgray;
}
.marseille_image{
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    height: 16vh;
    padding: .2rem;
}
.marseille_image img{
    height: 15vh;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}
.marseille_texte{
    font-size: 14px;
    color: black;
    padding: .5rem;
}
.marseille_texte h3{
    margin: 0;
}
.marseille_texte p{
    margin: 0.2rem;
    margin-left: 0;
}
/* .marseille_texte h3{
    margin: 0rem;
} */
.afficher_plus{
    color: black;
}
.a_p{
    margin: 1rem;
}
.hm_hp_d{
    display: none;
}

/* ICI SECTION ACTIVITES MARSEILLE */
#activites_marseille{
    padding: 1rem;
}
.activites_marseille_image_texte{
    /* margin: 1.5rem; */
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 3px 25px lightgray;
}
.activites_image{
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    height: 21vh;
    padding: .2rem;
}
.activites_image img{
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}
.activites_texte{
    font-size: 14px;
    color: black;
    padding-left: 1rem;
    margin-top: 0;
}
.activites_texte h3{
    margin-top: 0;
    padding: .5rem;
}
a{
    text-decoration: none;
    color: #0065FC;
}
.activites_marseille_desktop{
    display: none;
}


/* ICI LE FOOTER */
footer{
    background-color: #F2F2F2;
    padding: 1rem;
}
footer a{
    color: black;
}

  /* TABLETTE*/
    @media screen and (min-width: 481px){

        /* LE HEADER */
        .nav{
            display: none;
        }
    
        /* LE MAIN */
        .titre br{
            display: none;
        }
        /* RECHERCHER */
        .emoticone_rechercher2_d{
            display: none!important;
        }
        /* LES FILTRES */
        .filtres{
            display: none;
        }
        .filtre{
            width: 69%;
        }
        .filtre_desktop{
            margin: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
        .filtre_d{
            width: 69%;
            height: 2.5rem;
            margin: 0.5rem;
            border-radius: 1rem;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 0;
        }
        .filtre_desktop button{
            border: 1px solid lightgray;
            height: 2.5rem;
            margin: 0.3rem;
            border-radius: 2rem;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 0;
        }
        .filtre_desktop h3{
            margin-right: 1rem;
        }
        .emoticone_filtre:hover{
            opacity: 0.5;
        }
                /* INFORMATION */
                .information{
                    display: ruby;
                }
                .information_desktop{
                    display: ruby;
                    margin: 1rem;
                }
            
                .information_emoticone p{
                    width: 100%;
                }
    
        /* HEBERGEMENT MARSEILLE */
        .container{
            display: none;
        }
        .marseille_titre{
            display: flex;
            justify-content: center;
        }
  
        /* ACTIVITES MARSEILLE */
        #activites_marseille{
            display: flex;
            justify-content: center;
        }
        .titre{
            text-align: center;
        }
        #activites_marseille{
            display: block;
        }
        
        /* INFORMATION */
        .information{
            display: ruby;
        }
        .information_emoticone p{
            width: 100%;
        }
    
        /* HOTELS POPULAIRES */
        .hotel{
            width: 55%;
        }
        .grid{
            display: none;
        }
        #activites_marseille{
            display: block;
        }

        /* HOTELS MARSEILLE */
        .marseille_hotel{
            width: 55%;
            margin-bottom: 1rem!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }

        /* ACTIVITES MARSEILLE */
        .activites_marseille_image_texte{
            width: 55%;
        }
        #activites_marseille h2{
            justify-content: center;
            display: flex;
        }
        .activites_texte h3{
            margin-top: 0;
            padding: .5rem;
        }

        /* FOOTER */
        footer{
            display: flex;
            justify-content: space-around;
        }
    
    }
 