@import url("mediaqueries.css");

 /* ORDINATEUR*/
 @media (min-width: 1025px){

    /* HEADER */
    .logo{
        margin: 1rem;
    }
    .nav p{
        display: flex;
    }
    .inscription{
        display: none;
    }
    .nav{
        display: flex;
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* MAIN */
    .onglets{
        display: none;
    }
    h1{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .titre{
        text-align: start;
        margin-left: 2rem;
    }
    .titre br{
        display: none;
    }
    .premier{
        width: 10%;
        position: absolute;
        top: 0%;
        left: 73%;
    }
    .second{
        display: none;
    }

    /* RECHERCHER */
    .emoticone_rechercher2 i{
        display: none;
    }
    .emoticone_rechercher2 span{
        display: flex;
    }
    .bouton{
        justify-content: start!important;
        margin: 1rem!important;
        height: 5vh;
    }
    .rechercher{
        margin-left: 1rem;
        height: 5vh;
    }
    .rechercher button{
        width: 9%;
        border: none;
        height: 5vh;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }

    /* FILTRES */
    .filtres{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.5rem;
    }
    .filtres_s{
        display: flex;
    }
    .filtre1{
        margin-left: 1rem;
    }
    .filtre1:hover{
        opacity: 0.5;
    }

    /* INFORMATION */
    .information{
        margin-left: 2rem;
    }
    .information_emoticone i{
        height: 2.5%;
    }

    /* SECTION HOTEL MARSEILLE + LES PLUS POPULAIRES */
    .hebergements_marseille_d{
        display: flex;
        flex-wrap: wrap;
    }
    .hebergements_populaire_desktop{
        display: flex;
        flex-direction: row-reverse;
    }
    #marseille{
        background-color: #F2F2F2;
        border-radius: 1rem;
        width: 70%;
        margin: 2rem;
    }
    .hotel{
        width: 100%;
    }
    .populaires{
        border-radius: 1rem;
        width: 30%;
        margin: 2rem;
    }
    .populaires a{
        text-decoration: none;
        color: #0065FC;
    }
    .populaires_emoticone h2{
        margin-bottom: 0;
        margin-top: 0;
        padding: 1.5rem;
    }
    .marseille_titre{
        justify-content: start;
        padding-top: 2rem;
    }
    .marseille_titre h2{
        margin-top: 0;
        margin-left: 1.5rem;
    }
    .marseille_image{
        height: 13vh;
    }
    .marseille_image img{
        height: 14vh;
    }
    .marseille_texte h3{
        padding-top: 1rem;
    }
    .marseille_texte p{
        margin: 0.5rem;
        margin-left: 0;
    }
    .hotel_image{
          width: 50%;
          height: 98%;
    }
    .hotel_image img{
        width: 100%;
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
    }
    .hotel_texte{
        height: 100%;
        position: relative;
    }
    .hotel_texte p{
        margin-top: .5rem;
    }
    .hotel_texte span{
        position: absolute;
        bottom: 10px;
    }
    .afficher_plus{
        text-decoration: none;
        padding: 2rem;
    }

    /* ACTIVITES MARSEILLE */
    .titre_activites_marseille{
        text-align: start;
    }
    .titre_activites_marseille h2{
        margin-left: 2.5rem;
    }
    #activites_marseille a{
        height: 100%;
    }
    .activites_marseille_image_texte{
        width: 100%;
    }
    #activites_marseille{
        display: flex;
        justify-content: space-around;
    }
    #activites_marseille a{
        text-decoration: none;
        color: #0065FC;
        width: 22%;
    }
    .premier_bloc{
        width: 20%;
    }
    .premier_bloc a{
        width: 100%;
    }
    .activites_marseille_image_texte_flex{
        margin-top: 1.5rem;
        background-color: white;
        border-radius: 1rem;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 3px 25px lightgray;
    }
    .activites_image, .activites_image_un{
        width: 100%;
        height: 50vh;
    }
    .activites_image_deux{
        width: 100%;
        height: 25vh;
    }
    .activites_image_trois{
        width: 100%;
        height: 18vh;
    }
    .activites_texte{
        margin-top: 0;
        margin-left: 0;
        padding-left: 1rem;
    }
    footer{
        display: block;
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    .mentions{
        display: flex;
        width: 75%;
        justify-content: space-between;
        margin-left: 1.5rem;
    }

}